# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.AR-Vehicle-Accesorization.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kevin\Desktop\AR-Vehicle-Accesorization\.idea\.idea.AR-Vehicle-Accesorization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
